@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
  color: #fafafa;
}

.green-text {
  color: #006666;
}

.grey-text {
  color: #303030;
  opacity: 0.5;
}

.heading {
  font-weight: 900;
  font-size: 44px;
}

#header {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  padding: 40px 40px;
  z-index: 1;
  position: fixed;
}

#header-img {
  height: 50px;
  transition: all ease-in 200ms
}

#header-img:hover {
  cursor: pointer;
  opacity: 0.6;
}

#nav-bar {
  display: inline-block;
  float: right;
}

.nav-link {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 10px 15px;
  transition: all ease-in 200ms;
}

.nav-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#welcome-sec {
  height: 100vh;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-heading {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 100px;
}

@media (max-device-width: 1024px) {
  .main-heading {
    font-size: 54px;
    }
}

.tiny-subheading {
  opacity: 0.75;
}

.scroll-div {
  position: absolute;
  bottom: 0;
  margin: auto;
  transition: all ease-in 200ms;
}

.scroll-div:hover {
  opacity: 0.6;
  cursor: pointer;
}

.scroll-text {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

.scroll-img {
  filter: invert(100%);
  height: 75px;
}

#internet-sec {
  padding: 2em;
}

.heading-divider {
  width: 50%;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.container {
  text-align: center;
}

.col-heading {
  font-size: 28px;
  font-weight: bolder;
}

.internet-icon {
  margin-top: 10px;
  width: 125px;
}

.internet-icon.lightning {
  width: 75px;
}

.img-divider {
  width: 50%;
}

.col-text {
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.video-div {
  margin-top: 2em;
}
