@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
  color: #fafafa;
}

.green-text {
  color: #006666;
}

section {
  height: 100VH;
}

#header {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  padding: 40px 40px;
  z-index: 1;
  position: fixed;
}

#header-img {
  height: 50px;
  transition: all ease-in 200ms
}

#header-img:hover {
  cursor: pointer;
  opacity: 0.6;
}

#nav-bar {
  display: inline-block;
  float: right;
}

.nav-link {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 10px 15px;
  transition: all ease-in 200ms;
}

.nav-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#welcome-sec {
  height: 100vh;
}

.landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 54px;
}

.tiny-subheading {
  opacity: 0.5;
}

.scroll-div {
  position: absolute;
  bottom: 0;
  margin: auto;
  transition: all ease-in 200ms;
}

.scroll-div:hover {
  opacity: 0.6;
  cursor: pointer;
}

#scroll-text {
  margin-bottom: 0px;
  margin-left: 5px;
}

.scroll-img {
  filter: invert(100%);
  height: 50px;
}


.container {
  text-align: center;
}
#internet-heading {
  font-weight: 700;
}

.internet-icon {
  width: 125px;
}
